@tailwind base;
@tailwind components;
@tailwind utilities;

.hideScrollBar::-webkit-scrollbar {
  display: none;
}

@layer utilities {
  .paused {
    animation-play-state: paused;
  }

  .custom {
    scrollbar-width: none;
  }
}
